body{
    font-family: Mulish;
    color: #7D7987;
    margin: 0;
}

a{
    text-decoration: none;
    color: #7D7987;
}

li{
    display: block;
}

p{
    margin: 0;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
}

.title{
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
}

.paragraph{
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
}


.elipse {
    width: 30px;
    height: 30px;
    border-radius: 25px;
    background-color: #5A98F2;
    color: white;
    text-align: center;
}


.flex{
    display: flex; 
    justify-content: space-between;
}

.button{
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    border-radius: 55px;
    background-color: white;
    color: #458FF6;
    width: 200px;
    padding: 3px 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 50px;
}