.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav ul {
    display: flex;
}

.header_nav_item{
    margin-right: 50px;
    font-size: 18px;
}

.header_title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    color: #233348;
}

.header_menu{
    display: none;
    width: 32px;
    cursor: pointer;
}
.header_menu > img{
    width: 100%;
}

.header_foto{
    width: 100%;
}

@media screen and (max-width: 768px) {

    nav{
        display: none;
    }
   
    .header{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        padding: 20px;
        background-color: white;
        
    }

    .header_menu{
        display: block;
    }

    .header_nav{
        background-color: rgb(240, 219, 219);
        position: fixed;
        top: 72px;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: 0;
    }

    .header_nav.open{
        clip-path: circle(1000px at top);
    }

    .header_nav ul{
        flex-direction: column;
        height: 100%;
    }

    .header_nav .header_nav_item{
        margin-right: 0;
        padding-top: 10vh;
        flex: 1;
    }

    .header_nav a{
        font-weight: 500;
        display: block;
        font-size: 32px;
    }

    .open{
        display: block;
    }

    .header_foto{
        display: none;
    }

    .header_inner{
        margin: 0 auto;
    }
}

